<div class="@(IsVisible ? "toast-visible" : "toast") @BackgroundCssClass">
    <div class="toast-icon">
        @* <i class="fa fa-@IconCssClass" aria-hidden="true"></i> *@
        <i class="bi bi-check-lg"></i>
    </div>
    <div class="toast-body">
        <h5>@Heading</h5>
        <p>@Message</p>
    </div>
</div>