<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Rejestracja nowego użytkownika</title>
</head>
<body>
    <div style="text-align: center; align-items: center;">
        <h2>Dziękujemy za rejestrację w naszym serwisie użytkowniku <b>{{userName}}</b>. Na podany przez Ciebie adres email: <b>{{email}}</b> wysłany został link weryfikacyjny.</h2>
        <br>
        <!-- <a href="https://localhost:5003"><button class="btn btn-primary" type="submit">Przejdź do strony logowania.</button></a> -->
    </div>
    
</body>
</html>