<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NutritionWebClient</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="/css/site.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/css/login/mainlayout.css">
        <link rel="stylesheet" href="/css/login/login.css">
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    </head>
    <body>
        <style>
            body {
                background-color: aliceblue;
                background-image: url(/images/BackgroundLogin.jpg);
                
                /* Center and scale the image nicely */
                background-position: center center;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </body>
    <div>
        <div class="main">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</html>